@model  MeyawoPortfolio.Models.TblProject
@{
    ViewBag.Title = "GetProject";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<br />
<h2 style="text-align:center">Proje Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("UpdateProject", "Project", FormMethod.Post))
{
    <form class="form-group">
        @Html.HiddenFor(x => x.ProjectID)
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { @class = "table table-bordered" })
        <br />

        @Html.LabelFor(x => x.Description)
        @Html.TextBoxFor(x => x.Description, new { @class = "table table-bordered" })
        <br />

        @Html.LabelFor(x => x.ProjectUrl)
        @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "table table-bordered" })

        @Html.LabelFor(x => x.TblCategory.CategoryID)
        @Html.DropDownListFor(x => x.ProjectCategory, (List<SelectListItem>)ViewBag.dgr2, new { @class = "table table-bordered" })

        <br />
        <button class="btn btn-outline-primary">Kaydet</button>
    </form>
}
<br />
<br />
<a href="/Project/Index/" class="btn btn-outline-primary">Projeler</a>

