@model List<MeyawoPortfolio.Models.TblTestimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Referans ID</th>
        <th>Ad Soyad</th>
        <th>Image Url</th>
        <th>Description</th>
        <th>Status</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var d in Model)
    {


        <tr>
            <td>@d.TestimonialID</td>
            <td>@d.NameSurname</td>
            <td>@d.ImgUrl</td>
            <td>@d.Description</td>
            <td>@d.Status</td>
            <td><a href="/Testimonial/DeleteTestimonial/@d.TestimonialID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Testimonial/GetTestimonial/@d.TestimonialID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/Testimonial/CreateTestimonial/" class="btn btn-outline-info">Yeni Referans</a>
